<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>寿司注文画面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/order_style.css') }}">
</head>
<body>
<input id="tab-c" type="radio" role="tab" name="tab-radio" class="tab-input" value="type">
    <h2 class="tab-label-heading"><label class="tab-label" for="tab-c">おすすめ</label></h2>
    <input id="tab-a" type="radio" role="tab" name="tab-radio" class="tab-input" value="usage" checked="">
    <h2 class="tab-label-heading selected"><label class="tab-label" for="tab-a">注文画面</label></h2>
    <input id="tab-b" type="radio" role="tab" name="tab-radio" class="tab-input" value="type">
    <h2 class="tab-label-heading"><label class="tab-label" for="tab-b">釣り画面</label></h2>
    <div class="tab-panel panel-a" role="tabpanel">
        <div id="tabpanel-order">
            <div id="order-section">
                {% for sushi_key, sushi_data in sushi_info.items() %}
                    <div class="sushi-item">
                        <button class="sushi-button" onclick="toggleSushiOrder('{{ sushi_key }}')">
                            <img src="{{ url_for('static', filename='images/' + sushi_data['img_path']) }}" style="height: 15vh; width: auto;">
                            <p class="money-name" data-sushi-price="{{ sushi_data['price'] }}">{{ sushi_data['price'] }}円</p>
                            <p class="sushi-name" data-sushi-name-jp="{{ sushi_data['name']['jp'] }}" data-sushi-name-en="{{ sushi_data['name']['en'] }}">
                                {{ sushi_data['name']['jp'] }}
                            </p>
                        </button>
                        <div class="quantity-controls" id="controls-{{ sushi_key }}">
                            <button onclick="decreaseQuantity('{{ sushi_key }}')">-</button>
                            <span id="quantity-{{ sushi_key }}">0</span>
                            <button onclick="increaseQuantity('{{ sushi_key }}')">+</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class = "side-button-container">
                <div class="side-total" id="total-price">合計金額:<br>¥{{ total_price }}</div>
                <div class="side-total" id="total-bait">寿司コイン:<br>{{ total_bait }}</div>
                <button class="history-button side-button" onclick="openSlideMenu('history')">注文履歴</button>
                <button class="bait-button side-button" onclick="addBait()">釣り餌<br>(¥100)</button>
                <button class="return-plate-button side-button" onclick="sendMessage('returnPlate')">お皿返却</button>
                <button class="confirm-order-button side-button" onclick="openSlideMenu('slide-menu')">注文確認</button>
                <button class="kaikei-button side-button" onclick="openSlideMenu('kaikei')">お会計</button>
            </div>
           
            <!-- スライドメニュー -->
            <div id="slide-menu" class="slide-menu">
                <div class="slide-menu-header">
                    <div class="title">注文確定画面</div>
                    <button class="closebutton" onclick="closeSlideMenu('slide-menu')">閉じる</button>
                </div>
                <div id="order-summary"></div>
                <div id="current-order-total" class="slide-font">今回の注文金額: ¥<span id="current-order-total-price">0</span></div>
                <div id="order-total" class="slide-font">注文確定後の合計金額: ¥<span id="order-total-price">{{ total_price }}</span></div>
                <button class="confirm-button" onclick="confirmOrder()">注文を確定する</button>
            </div>

            <div id="kaikei" class="slide-menu">
                <div class="slide-menu-header">
                    <div class="title">お会計画面</div>
                    <button class="closebutton" onclick="closeSlideMenu('kaikei')">閉じる</button>
                </div>
                <div><span id="kaikei-total">0</span></div>
                <div id="amari-bait"></div>
                <div class="slide-font"><span id="final-kaikei">0</span></div>
                <button class="confirm-button" onclick="resettotal()">お会計確定</button>
            </div>

            <div id="history" class="slide-menu">
                <div class="slide-menu-header">
                    <div class="title">注文履歴</div>
                    <button class="closebutton" onclick="closeSlideMenu('history')">閉じる</button>
                </div>
                <div><span id="history-summary"></span></div>
                

            </div>

        </div>
    </div>

    <!--釣り画面-->
    <div class="tab-panel panel-b" role="tabpanel">
        <div id="tabpanel-fishing">
            <div id = "dark"></div>
            <div id = "fish-container">
                <button id = "fish-close" class = "fish-container-close" onclick = "closeFishContainer()">閉じる</button>
                <img id = "slot-result-img">
                <p id = "caught-name">魚が釣れた!!</p> 
            </div>
            <div id = "gomi-container">
                <button id = "gomi-close" class = "fish-container-close" onclick = "closeFishContainer()">閉じる</button>
                <img id = "gomi-result-img">
                <p id = "caught-gomi">ゴミが釣れた...</p> 
            </div>
            <div class="container">
                <div id = "slottitle">寿司スロット</div>
                <div class ="slot-container" id = "slotContainer">
                    <div id = "slotbox1">
                        <div id="slot1" class="slot"><img src="static/images/maguro.png" style="height: 15vh; width: 15vw;"></div>
                        <button id="stopButton1" class="stopButton">ストップ</button>
                    </div>
                    <div id = "slotbox2">
                        <div id="slot2" class="slot"><img src="static/images/maguro.png" style="height: 15vh; width: 15vw;"></div>
                        <button id="stopButton2" class="stopButton">ストップ</button>
                    </div>
                    <div id = "slotbox3">
                        <div id="slot3" class="slot"><img src="static/images/maguro.png" style="height: 15vh; width: 15vw;"></div>
                        <button id="stopButton3" class="stopButton">ストップ</button>
                    </div>
                </div>
                <div class="control">
                    <button id="startButton" class="startButton">スタート</button>
                    <p id="result"></p>
                </div>
            </div>
            <div id="sky"></div>
            <div id="sea">
            </div>
            <!-- 船の画像を追加 -->
            <div id="boat-img">
                <img src="{{ url_for('static', filename='images/boat.png') }}" alt="船の画像">
            </div>
            <div id="turi-total-bait">釣り餌の数: {{ total_bait }}</div>

            <input type="hidden" id="hidden-sushi-info" value='{{ sushi_info_json }}'>
            <input type="hidden" name="total_bait" id="hidden-total-bait" value="{{ total_bait }}">
            <input type="hidden" name="total_price" id="hidden-total-price" value="{{ total_price }}">
            
        </div>
    </div>

    <div class="tab-panel panel-c" role="tabpanel">
    <div class = "recommend-item" id = "recommendItem"></div>
    </div>
    
    <script src="{{ url_for('static', filename='js/order_script.js') }}" defer></script>
</body>
</html>